/* board styles */
.appHeaderContainer {
    margin-top: 0;
    margin-bottom: 0;
}

.appHeader {
    position: relative;
}

.controlContainer {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.board {
    clear: both;
}

/* settings dialog styles */
a img {
    border: 0;
}

.buttonContainer span,
.buttonContainer a {
    vertical-align: middle;
}

.dijitTooltipContents {
    font-size: 9.5px;
}

.labelTextBoxContainer .dijitTextBox {
    width: 110px;
}

.planEstimateTextBoxContainer .dijitTextBox {
    width: 50px;
}

.hide {
    display: none;
}

.tableHeaderRow {
    font-weight: bold;
    text-align: left;
}

#addLinkCell img {
    vertical-align: bottom;
}

#columnNameTd {
    width: 80px;
}

#planEstimateTd {
    width: 55px;
}

#settingsDialogDiv {
    visibility: hidden;
}

#settingsTable {
    clear: right;
    margin: 10px 25px 10px 25px;
}

#units {
    font-weight: normal;
}